@inherits Umbraco.Web.Macros.PartialViewMacroPage

@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@{

    var selection = Umbraco.TypedContentAtRoot().First().Children().Where(x=> x.DocumentTypeAlias == "project");
}

<div class="uk-container uk-position-top">
    <div class="uk-child-width-expand uk-grid-collapse" uk-grid>
        <div></div>
        <div class="uk-width-1-2 uk-text-center"><p class="uk-h1 w uk-margin-large-bottom uk-margin-large-top">Projects</p></div>
        <div></div>
    </div>

    <div class="uk-child-width-1-2@m uk-grid-collapse uk-text-center" id="pr" uk-grid>
        @foreach (var project in selection)
        {

            var img = project.GetPropertyValue<IPublishedContent>("image");
            var bigImage = project.GetPropertyValue<IPublishedContent>("bigImage");



            <div>
                <div class="uk-tile uk-tile-large uk-background-cover" style="background-image: url(' @img.Url');" id="project" alt="@project.GetPropertyValue("title") project image">
                    <a href="#modal-full" uk-toggle>
                        <div class="overlay">
                            <div class="text">@project.GetPropertyValue("title")</div>
                        </div>
                    </a>

                </div>
            </div>

            <div id="modal-full" class="uk-modal-full" uk-modal>
                <div class="uk-modal-dialog">
                    <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
                    <div class="uk-grid-collapse uk-child-width-1-2@m uk-flex-middle uk-height-viewport@s" uk-grid>
                        <div class="uk-padding-large uk-height-viewport uk-background-cover" style="background-image: url('@*@bigImage.Url*@');" alt="@project.GetPropertyValue("title") portfolio project image">

                        </div>
                        <div class="uk-padding-large ">
                            <div class="uk-margin-large-bottom uk-visible@m">
                                <div class="container">
                                    <div class="screen monitor ">
                                        <div class="content uk-background-cover" style="background-image: url('@{project.GetPropertyValue("prototypeImage");} ');">

                                        </div>
                                        <div class="base">
                                            <div class="grey-shadow"></div>
                                            <div class="foot top"></div>
                                            <div class="foot bottom"></div>
                                            <div class="shadow"></div>
                                            <div class="keyboard">
                                                <div class="btm"></div>
                                                <ul class="keys">
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                </ul>
                                                <div class="shadow"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="laptop">
                                        <div class="content uk-background-cover" style="background-image: url('@project.GetPropertyValue("prototypeImage")');">

                                        </div>
                                        <div class="btm"></div>
                                        <div class="shadow"></div>
                                    </div>
                                    <div class="phone">
                                        <div class="screen">
                                            <div class="content uk-background-contain" style="background-image: url('@project.GetPropertyValue("prototypeImage").');">

                                            </div>
                                        </div>

                                        <div class="shadow"></div>
                                    </div>

                                </div>

                            </div>
                            <h3 class="lh">@project.GetPropertyValue("title")</h3>
                            <p>@project.GetPropertyValue("fullDescription")</p>
                        </div>
                    </div>
                </div>
            </div>

        }





    </div>
    <h1 class="uk-hero-text uk-padding-large uk-margin-auto lh w uk-position-bottom-center uk-position-large ">
        <span class="highlight" uk-spinner="ratio: 2.5"></span><span class="highlight">Page</span>
        Under Construction


    </h1>
 
</div>