@inherits Umbraco.Web.Macros.PartialViewMacroPage

@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@{

    var selection = Model.Content.Children.OfTypes("project");
}

<style>
    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        height: auto;
    }

        .embed-container iframe, .embed-container object, .embed-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
</style>
<div class="uk-container uk-position-top">
    <div class="uk-child-width-expand uk-grid-collapse" uk-grid>
        <div></div>
        <div class="uk-width-1-2 uk-text-center"><p class="uk-h1 w uk-margin-large-bottom uk-margin-large-top">Projects</p></div>
        <div></div>
    </div>

    <div class="uk-child-width-1-2@m uk-grid-collapse uk-text-center" id="pr" uk-grid>
        @foreach (var project in selection)
        {

            var img = Umbraco.Media(project.GetPropertyValue("image").ToString());
            var bigImg = Umbraco.Media(project.GetPropertyValue("bigImage").ToString());
            var proImg = Umbraco.Media(project.GetPropertyValue("prototypeImage").ToString());




    <div>
        <div class="uk-tile uk-tile-large uk-background-cover" style="background-image: url(' @img.Url');" id="project" alt="@project.GetPropertyValue("title") project image">
            <a href="#modal-full-@project.Id" uk-toggle>
                <div class="overlay">
                    <div class="text">@project.Name</div>
                </div>
            </a>

        </div>
    </div>

    <div id="modal-full-@project.Id" class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog" id="projects">
            <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
            <div class="uk-grid-collapse uk-child-width-1-2@m uk-flex-middle uk-height-viewport@s" uk-grid>
                <div class="uk-padding-large uk-height-viewport uk-background-cover" style="background-image: url('@bigImg.Url');" alt="@project.GetPropertyValue("title") portfolio project image">

                </div>
                <div class="uk-padding-large ">
                    <div class="uk-margin-large-bottom">
                        <h1 class="lh">@project.GetPropertyValue("title")</h1>
                        <p>@project.GetPropertyValue("fullDescription")</p>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>

}





    </div>
 
</div>