@inherits Umbraco.Web.Macros.PartialViewMacroPage

@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@{

    var selection = Umbraco.TypedContentAtRoot().First().Children();
}

<div class="uk-container uk-position-top">
    <div class="uk-child-width-expand uk-grid-collapse" uk-grid>
        <div></div>
        <div class="uk-width-1-2 uk-text-center"><p class="uk-h1 w uk-margin-large-bottom uk-margin-large-top">Projects</p></div>
        <div></div>
    </div>

    <div class="uk-child-width-1-2@m uk-grid-collapse uk-text-center" uk-grid>
        @foreach (var project in selection)
        {

            var img = project.GetPropertyValue<IPublishedContent>("image");
            var bigImage = project.GetPropertyValue<IPublishedContent>("bigImage");


            <div>
                <div class="uk-tile uk-tile-large uk-background-cover" style="background-image: url(' @img.Url');" id="project" alt="@project.GetPropertyValue("title") project image">
                    <a href="#modal-full" uk-toggle>
                        <div class="overlay">
                            <div class="text"></div>
                        </div>
                    </a>

                </div>
            </div>

            <div id="modal-full" class="uk-modal-full" uk-modal>
                <div class="uk-modal-dialog">
                    <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
                    <div class="uk-grid-collapse uk-child-width-1-2@m uk-flex-middle uk-height-viewport" uk-grid>
                        <div class="uk-padding-large uk-height-viewport uk-background-cover" style="background-image: url('@*@bigImage.Url*@');" alt="@project.GetPropertyValue("title") portfolio project image">

                        </div>
                        <div class="uk-padding-large ">
                            <div class="uk-margin-left">@*@Html.Partial("screens")*@</div>
                            <h1 class="lh">@project.GetPropertyValue("title")</h1>
                            <p>@project.GetPropertyValue("fullDescription")</p>
                        </div>
                    </div>
                </div>
            </div>

        }





    </div>
</div>